*{
    background-color: black;
    box-sizing: border-box;
}
h1,h3,h4,a{
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
a{
    color: bisque;
   text-decoration: none;
   font-size: 18px;
}
a:hover{
    color: white;
    font-size: 19px;
}